<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>WebApp.</title>
	</head>
	<body>
		<h1>Welcome to my first Web App.!</h1>
		<p> May I have your First Name?</p>
		<form action= "/input" method = "post">
			<input type = "text" name = "user_name">
			<br>
			<input type = "submit">
		</form>
	</body>
</html>
