<h2>So <%=name%>, now that we know you are <%=age%> years old.
<br>
 What are your 3 favorite numbers?</h2>
 <form action="/fav_nums" method="post"> 
 	<input type="number" name="user_fav_num1"> 
 	<br> 
 	<input type="number" name="user_fav_num2"> 
 	<br> 
	<input type="number" name="user_fav_num3"> 
	<br> 
	<input type="submit"> 
 </form>		 
