<!DOCTYPE html>
<html>
	<head>
		<title>WebApp.</title>
	</head>
	<body>
		<h2>Hello what Is Your Name?</h2>
		<form action= "/input" method = "post">
			<input type = "text" name = "user_name">
			<br>
			<input type = "submit">
		</form>
	</body>
</html>
